CompileFlags:
  CompilationDatabase: >-
    /Users/jonasbottger/InformatikTechnischerSysteme/Git-Projekte/ITS-BRD-VSC/Programs/A1ASM/out/A1ASM/ITSboard_Assembly/Debug
  Add:
    - >-
      -I/Users/jonasbottger/InformatikTechnischerSysteme/Git-Projekte/ITS-BRD-VSC/Programs/A1ASM/Inc
    - >-
      -I/Users/jonasbottger/InformatikTechnischerSysteme/Git-Projekte/ITS-BRD-VSC/Programs/A1ASM/../../stm32cubef4/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -I/Users/jonasbottger/InformatikTechnischerSysteme/Git-Projekte/ITS-BRD-VSC/Programs/A1ASM/../../stm32cubef4/Drivers/CMSIS/Include
    - >-
      -I/Users/jonasbottger/InformatikTechnischerSysteme/Git-Projekte/ITS-BRD-VSC/Programs/A1ASM/../../stm32cubef4/Drivers/STM32F4xx_HAL_Driver/Inc
    - >-
      -I/Users/jonasbottger/InformatikTechnischerSysteme/Git-Projekte/ITS-BRD-VSC/Programs/A1ASM/../../stm32cubef4/Drivers/BSP/STM32F4xx_Nucleo_144
    - >-
      -I/Users/jonasbottger/InformatikTechnischerSysteme/Git-Projekte/ITS-BRD-VSC/Programs/A1ASM/../../stm32cubef4/Utilities/Fonts
    - >-
      -I/Users/jonasbottger/InformatikTechnischerSysteme/Git-Projekte/ITS-BRD-VSC/Programs/A1ASM/../../DisplayWaveshare/Inc
    - >-
      -I/Users/jonasbottger/InformatikTechnischerSysteme/Git-Projekte/ITS-BRD-VSC/Programs/A1ASM/../../ITS_BRD_LIB/Utilities/AddFonts
    - >-
      -I/Users/jonasbottger/InformatikTechnischerSysteme/Git-Projekte/ITS-BRD-VSC/Programs/A1ASM/tmp/A1ASM.Debug+ITSboard_Assembly
    - >-
      -I/Users/jonasbottger/InformatikTechnischerSysteme/Git-Projekte/ITS-BRD-VSC/Programs/A1ASM/RTE/_Debug_ITSboard_Assembly
    - '-I/Users/jonasbottger/.cache/arm/packs/ARM/CMSIS/6.1.0/CMSIS/Core/Include'
    - >-
      -I/Users/jonasbottger/.cache/arm/packs/Keil/STM32F4xx_DFP/2.17.1/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -I/Users/jonasbottger/InformatikTechnischerSysteme/Git-Projekte/ITS-BRD-VSC/Programs/A1ASM/../../ITS_BRD_LIB/Inc
